/*
This block helps a lot with the calculations of the margins and overall positioning.
Check it out: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 */

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #4c51c2;;
    font-family: Times, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    max-width: 1090px;
    background-color: white;
    margin: 0 auto;
}

a {
    color: #4c51c2;
}

a:active {
    color: coral;
}

a:visited {
    color: grey;
}

.logo {
    position: relative;
    width: 30px;
    height: 30px;
}

img {
    width: 900px;
}

/* ------------------ Index page ---------------------- */

.search-bar {
    height: 30px;
    min-width: 75%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-field {
    height: 100%;
    justify-content: center;
    width: 69%;
}
.search-button:hover{
    background-color: #4c51c2;
    color: white;
}

.search-button {
    height: 100%;
    width: 30%;
    background-color: #4c51c2;
    color: lightgray;
}

.posts-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.post {
    margin: 5%;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 900px;
}

.postHeader {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.postDate {
    color: grey;
    font-size: small;
}

.post_picture {
    max-width: 100%;
    max-height: 100%;
}

.postFooter {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 10px;
}

.postFooter p { /* IMPORTANT FOR HOMEWORK DON'T CHANGE ".postFooter p", can change the inside */
    margin: 0;
    padding: 0;
}

.likeButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.likeButton > i {  /* IMPORTANT FOR HOMEWORK DON'T CHANGE ".likeButton > i", can change the inside */
    color: #4c51c2;
}

/* ------------------ Login page ---------------------- */

#loginLogo {
    width: 50px;
    height: 50px;
}

.loginContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 50px;
}

.loginBox {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 1em 1em 2em 1em;
    min-width: 320px;
}

#loginHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

input {
    width: 60%;
    margin: 3px auto;
    height: 30px;
    padding: 1em;
}

#loginButton {
    background-color: #4c51c2;
    color: lightgray;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}
#loginButton:hover{
    background-color: #4c51c2;
    color: white;
}
/* TODO
     Use an Adjacent Sibling Selector (e.g., div + p)
     Use a General Sibling Selector (e.g., div ~ p)
    - post caption styling and positioning
 */