<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<h1>
    <p>Unfortunately, in this vast world wide web the page you've requested does not exist. 404</p>
</h1>

</body>
</html>