<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/addnewpost.css">
<title> Create a post</title>
<body>
<%- include('partials/navbar.ejs') %>
<h1>Create magnificence</h1>
<div class="create-post">
    <form action="/posts" method="POST">
        <label for="title">Post title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="body">Post body:</label>
        <input type="text" id="body" name="body" required><br><br>
        <label for="urllink"> URL link:</label>
        <input type="text" id="urllink" name="urllink"></textarea><br><br>
        <button>Submit</button>
    </form>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>