<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<div class="contact">
    <table>
        <tr>
            <th colspan="3">WebApplicationDevelopment Homework 3</th>
        </tr>
        <tr>
            <th>Team member name</th>
            <th>Phone number</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Punane Mazda</td>
            <td>+372 5969 420</td>
            <td>veryprofessional@gmail.com</td>
        </tr>
        <tr>
            <td>Liiva Hunnik</td>
            <td>+372 5008 666</td>
            <td>atleastitsnotoffensive@gmail.com</td>
        </tr>
        <tr>
            <td>Red Table Lamp</td>
            <td>+372 5557 5744</td>
            <td>outofideas@gmail.com</td>
        </tr>
    </table>
</div>
</body>
</html>