<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Import the css from resource folders css folder. Main.css is the main css style for all pages -->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <!-- External css (fontawesome) -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- External javascript (jquery) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Import javascript from resource folders js folder. -->
    <script type="text/javascript" src="res/js/script.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
<header>
    <div class="search-bar">
        <input type="text" class="search-field">
        <button type="submit" class="search-button">Search</button>
    </div>
    <div id="dropdownID" class="dropdown-content">
        <p>Linus Torvalds</p>
        <p>info@linuxfoundation.org</p>
    </div>
</header>
<main>
    <div class="posts-container">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <%- include('partials/post.ejs', {post: post}) %>
            <% }) %>
        <% } else { %>
            <p>You did not post anything...</p>
        <% } %>

    </div>
    <%- include('partials/footer.ejs') %>
</main>
</body>
</html>

