/* css for the top part of the index page*/
header {
    margin: 60px;
}

button[type=submit] {
    background-color: #4c51c2;
    border: none;
    color: lightgray;
    text-decoration: none;
    margin: 4px 2px;
    padding: 10px 32px;
    cursor: pointer;
}
.search-bar {
    height: 30px;
    min-width: 75%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* css for the search input bar */
.search-field {
    height: 100%;
    width: 69%;
}

/* css for the button "search", while hovering over it */
.button:hover {
    color: white;
}

/* css for the button "search"*/
.button {
    background-color: #4c51c2;
    color: lightgray;
}

#search-button {
    height: 100%;
    width: 30%;
    max-width: 200px;
}

#reset-button {
    height: 50px;
    width: 200px;
}

/* css for the users dropdown menu */
.dropdown-content {
    background-color: white;
    right: 0;
    top: 60px;
    position: fixed;
    display: none;
    text-align: left;
    text-indent: 5px;
    font-family: cursive;
}

/* css for the containers of posts and their attributes*/
.posts-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}
.header + .content {
    padding: 50px;
}

