<link rel="stylesheet" type="text/css" href="css/footer.css">
<div id="footer">
    <form action="/contact">
        <input type="submit" value="Contact" />
    </form>
    <div class="copyright">Copyright © Boomers. All Memes Reserved</div>
</div>