
<link rel="stylesheet" type="text/css" href="css/header.css">
<body>
<div id="nav">
<form action="/">
    <input type="submit" value="Home" />
</form>
<form action="/about">
    <input type="submit" value="About" />
</form>
<form action="/contact">
    <input type="submit" value="Contact" />
</form>
</div>
</body>

