/* Importing main css to specific page css */
@import "main.css";

#login-logo {
    width: 50px;
    height: 50px;
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 50px;
}

.login-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 1em 1em 2em 1em;
    min-width: 320px;
}

#login-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

form input { /* Descendant Selector */
    width: 60%;
    margin: 3px auto;
    height: 30px;
    padding: 1em;
}

#login-button {
    background-color: #4c51c2;
    color: lightgray;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}
#login-button:hover{
    background-color: #4c51c2;
    color: white;
}